core/resources/xal/schemas/impl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xs:element name="deviceMapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="device" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="type" type="xs:string" use="required"/>
						<xs:attribute name="softType" type="xs:string"/>
						<xs:attribute name="class" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
