test/resources/config/xdxf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 (http://www.altova.com) by Ivo List (a) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="nodeType"> <!-- TODO -->
		<xs:restriction base="xs:string">			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="seqType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bnch"/>
			<xs:enumeration value="CCL"/>
			<xs:enumeration value="DTLTank"/>
			<xs:enumeration value="SCLCavity"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="acceleratorNode">
		<xs:choice maxOccurs="unbounded">			
			<xs:element minOccurs="0" maxOccurs="1" ref="channelsuite"/>
			<xs:element minOccurs="0" maxOccurs="1" ref="attributes"/>			
			<!-- implemented in specific sub nodes  -->
			<xs:element minOccurs="0" maxOccurs="1" name="ps">
				<xs:complexType>
					<xs:attribute name="main" type="xs:string"/>
					<xs:attribute name="trim" type="xs:string"/>
				</xs:complexType>
			</xs:element>		
		</xs:choice>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="softType" type="xs:string"/>
		<xs:attribute name="pid" type="xs:string"/> <!-- Physics id -->
		<xs:attribute name="eid" type="xs:string"/> <!-- Engineering id -->
		<xs:attribute name="status" type="xs:boolean"/> <!--  status of the node which identifies whether the node is operational -->		
		<xs:attribute name="len" type="xs:decimal"/>
		<xs:attribute name="pos" type="xs:decimal"/>
		<xs:attribute name="s" type="xs:decimal"/> <!-- s display coordinate -->
		<xs:attribute name="exclude" type="xs:boolean"/>
	</xs:complexType>
	
	<xs:complexType name="acceleratorSeq">				
		<xs:choice maxOccurs="unbounded">
			<xs:element minOccurs="0"  maxOccurs="unbounded" name="node" type="acceleratorNode"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sequence" type="acceleratorSeq"/>			
			<!-- derived from acceleratorNode -->
			<xs:element minOccurs="0" maxOccurs="1" ref="channelsuite"/>
			<xs:element minOccurs="0" maxOccurs="1" ref="attributes"/>		
		</xs:choice>
		<!-- derived from acceleratorNode -->
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="type" type="nodeType"/>
		<xs:attribute name="softType" type="xs:string"/>
		<xs:attribute name="pid" type="xs:string"/> <!-- Physics id -->
		<xs:attribute name="eid" type="xs:string"/> <!-- Engineering id -->
		<xs:attribute name="status" type="xs:boolean"/> <!--  status of the node which identifies whether the node is operational -->		
		<xs:attribute name="len" type="xs:decimal"/>
		<xs:attribute name="pos" type="xs:decimal"/>
		<xs:attribute name="s" type="xs:decimal"/> <!-- s display coordinate -->
		<xs:attribute name="exclude" type="xs:boolean"/>				
	</xs:complexType>
	
	<xs:complexType name="accelerator">		
		<xs:choice maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded"  ref="comboseq" />
			<xs:element minOccurs="0" maxOccurs="1" ref="powersupplies"/>
			<!-- derived from acceleratorSeq -->
			<xs:element minOccurs="0" maxOccurs="unbounded" name="sequence" type="acceleratorSeq"/>
			<!--  not used  -->
			<!--<xs:element minOccurs="0"  maxOccurs="unbounded" name="node" type="accleratorNode"/>			
			 <xs:element minOccurs="0" maxOccurs="1" ref="channelsuite"/>
			<xs:element minOccurs="0" maxOccurs="1" ref="attributes"/> -->
		</xs:choice>				
		<xs:attribute name="system" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					The name of the accelerator system that is described.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ver" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					The ver attribute contains any versioning information associated with the file.
					This feature allows users to monitor changes in the XAL configuration with a version stamp, 
					facilitating more accurate comparisons of archived data.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="date" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Date, contains the date in which the optics file was last built. 
					The date value can be expressed in the ISO 8601 standard [12], 
					however, any date format recognized by the Java class DateFormat [9] is valid.
					XAL only writes this value.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>		
		<!-- other attributes also derived but not used -->
	</xs:complexType>
		
	<xs:element name="xdxf" type="accelerator">		
		<xs:key name="sequence-id">			
			<xs:selector xpath="sequence"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="comboseq-id">			
			<xs:selector xpath="comboseq"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="comboseq-sequenceid" refer="sequence-id">
			<xs:selector xpath="comboseq/sequence"/>
			<xs:field xpath="@id"/>
		</xs:keyref>
	</xs:element>
	
	<xs:element name="comboseq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sequence" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" type="xs:string" use="required"/>						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ring"/>
						<xs:enumeration value="AcceleratorSeqCombo"/>
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="attributes">
		<xs:complexType>
			<xs:all>
				<xs:element name="align" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="x" type="xs:decimal" use="required"/>
						<xs:attribute name="y" type="xs:decimal" use="required"/>
						<xs:attribute name="z" type="xs:decimal" use="required"/>
						<xs:attribute name="pitch" type="xs:decimal" use="required"/>
						<xs:attribute name="yaw" type="xs:decimal" use="required"/>
						<xs:attribute name="roll" type="xs:decimal" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="magnet" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="len" type="xs:decimal" use="required"/>
						<xs:attribute name="dfltMagFld" type="xs:decimal" use="required"/>
						<xs:attribute name="polarity" type="xs:byte" use="required"/>
						<xs:attribute name="bendAngle" type="xs:decimal"/>
						<xs:attribute name="dipoleEntrRotAngle" type="xs:decimal"/>
						<xs:attribute name="dipoleExitRotAngle" type="xs:decimal"/>
						<xs:attribute name="dipoleQuadComponent" type="xs:decimal"/>
						<xs:attribute name="pathLength" type="xs:decimal"/>
						<!-- TODO missing attributes -->
					</xs:complexType>
				</xs:element>
				<xs:element name="aperture" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="x" type="xs:decimal"/>
						<xs:attribute name="y" type="xs:decimal"/>
						<xs:attribute name="shape" type="xs:byte" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="rfgap" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="length" type="xs:decimal" use="required"/>
						<xs:attribute name="phaseFactor" type="xs:decimal" use="required"/>
						<xs:attribute name="ampFactor" type="xs:decimal" use="required"/>
						<xs:attribute name="TTF" type="xs:decimal" use="required"/>
						<xs:attribute name="endCell" type="xs:byte" use="required"/>
						<xs:attribute name="gapOffset" type="xs:decimal" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="rfcavity" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="amp" type="xs:decimal" use="required"/>
						<xs:attribute name="phase" type="xs:decimal" use="required"/>
						<xs:attribute name="freq" type="xs:decimal" use="required"/>
						<xs:attribute name="TTFCoefs" type="xs:string" use="required"/>
						<xs:attribute name="TTFPrimeCoefs" type="xs:string" use="required"/>
						<xs:attribute name="STFCoefs" type="xs:string" use="required"/>
						<xs:attribute name="STFPrimeCoefs" type="xs:string" use="required"/>
						<xs:attribute name="TTF_endCoefs" type="xs:string" use="required"/>
						<xs:attribute name="TTFPrime_EndCoefs" type="xs:string" use="required"/>
						<xs:attribute name="STF_endCoefs" type="xs:string" use="required"/>
						<xs:attribute name="STFPrime_endCoefs" type="xs:string" use="required"/>
						<xs:attribute name="structureMode" type="xs:byte" use="required"/>
						<xs:attribute name="qLoaded" type="xs:decimal"/>
						<xs:attribute name="structureTTF" type="xs:decimal"/>
						<!-- TODO missing -->
					</xs:complexType>
				</xs:element>
				<xs:element name="bpm" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="orientation" type="xs:byte" use="required"/>
						<xs:attribute name="length" type="xs:decimal" use="required"/>
						<xs:attribute name="frequency" type="xs:decimal" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="sequence" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="predecessors" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="channelsuite">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="channel" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="handle" type="xs:string" use="required"/>
						<xs:attribute name="signal" type="xs:string"/>
						<xs:attribute name="settable" type="xs:boolean"/>
						<xs:attribute name="valid" type="xs:boolean"/>
						<xs:attribute name="transform" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="transform" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">									
									<xs:enumeration value="doubleScale"/>
									<xs:enumeration value="doubleTranslation"/>
									<xs:enumeration value="doubleLinear"/>
									<xs:enumeration value="doubleArrayScale"/>
									<xs:enumeration value="doubleArrayTranslation"/>
									<xs:enumeration value="doubleArrayLinear"/>									
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="scale" type="xs:decimal"/>
						<xs:attribute name="offset" type="xs:decimal"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/> <!-- not used -->
		</xs:complexType>
		<xs:key name="channel-handle">			
			<xs:selector xpath="channel"/>
			<xs:field xpath="@handle"/>
		</xs:key>
		<xs:key name="transform-name">			
			<xs:selector xpath="transform"/>
			<xs:field xpath="@name"/>
		</xs:key>
		<xs:keyref name="channel-transform" refer="transform-name">
			<xs:selector xpath="channel"/>
			<xs:field xpath="@transform"/>
		</xs:keyref>
	</xs:element>
	<xs:element name="powersupplies">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ps" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<xs:element ref="channelsuite"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required"/>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="main"/>
									<xs:enumeration value="trim"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="powersupply-id">			
			<xs:selector xpath="ps"/>
			<xs:field xpath="@id"/>
		</xs:key>
	</xs:element>
</xs:schema> 